/* Waving Hand Animation */
@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: right;
  }
  25% {
    transform: rotate(-15deg);
    transform-origin: right;
  }
  75% {
    transform: rotate(15deg);
    transform-origin: right;
  }
}

.waving-hand {
  display: inline-block;
  animation-name: wave;
  animation-duration: 500ms;
  animation-delay: 1500ms;
  animation-iteration-count: 2;
}
