@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-x-clip {
  overflow-x: clip;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background: #27272a;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}
