/* Animated Underline */
.custom-nav-link {
  display: inline-block;
  position: relative;
}

.custom-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: lightblue;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.custom-nav-link:hover::after,
.custom-nav-link:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
